@using AuthAppBusiness.Models
@using AuthAppBusiness.Constants
@model DoctorMV

<form id="addEditDoctorForm" >
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <div class="modal-header mb-1">
        <h5 class="modal-title" id="doctorModalTitle">Add User</h5>
    </div>
    <div class="modal-body flex-grow-1">
        <div class="mb-1">
            <label class="form-label" for="basic-icon-default-fullname">First Name</label>
            <input type="text" asp-for="User.FirstName" class="form-control dt-full-name" id="basic-icon-default-fullname" placeholder="John Doe"/>
        </div>
        <div class="mb-1">
            <label class="form-label" for="basic-icon-default-uname">Last Name</label>
            <input type="text" asp-for="User.LastName" id="basic-icon-default-uname" class="form-control dt-uname" placeholder="Web Developer"  />
        </div>
        <div class="mb-1">
            <label class="form-label" for="basic-icon-default-email">Email</label>
            <input type="text" asp-for="User.Email" id="basic-icon-default-email" class="form-control dt-email" placeholder="john.doe@example.com"  />
        </div>
        <div class="mb-1">
            <label class="form-label" for="basic-icon-default-contact">Phone Number</label>
            <input type="text" asp-for="User.phoneNumber" id="basic-icon-default-contact" class="form-control dt-contact"  />
        </div>
        <div class="mb-1">
            <label class="form-label" for="basic-icon-default-contact">Gender</label>
            <select type="text" asp-for="User.Gender" id="basic-icon-default-contact" class="form-control dt-contact" >
                <option value="@((int)General.Gender.Male)">Male</option>
                <option value="@((int)General.Gender.Female)">Female</option>
            </select>
        </div>
     
        <div class="mb-1">
            <label class="form-label" >User Role</label>
            <select  asp-for="User.SelectedRole"  asp-items="ViewBag.Roles" class="form-control">
              @*  <option value="">Select Role</option>
                @foreach (var role in ViewBag.Roles)
                {
                    <option value="@role.Id">@role.Name </option>
                }*@
            </select>
        </div>
      
        <button type="submit" class="btn btn-primary" onclick="Doctor.SubmitAddEditDoctorForm(event);">Submit</button>
        <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>